/*------------------------------------*\
    #FONTS
\*------------------------------------*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

/*------------------------------------*\
    #MAIN
\*------------------------------------*/
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
