/*------------------------------------*\
    #FONTS
\*------------------------------------*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

/*------------------------------------*\
    #MAIN
\*------------------------------------*/
body {
    color: #333;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    padding: 10px 0;
}

section {
    position: relative;
    margin: 0 auto;
    min-width: 500px;
    width: 30%;
}

h1 {
    background-color: #EEE;
    border: 5px solid #999;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

li {
    background-color: #EEE;
    border-left: 5px solid #999;
    border-right: 5px solid #999;
    margin:0 auto;
    padding: 1em;
    position: relative;
    text-align: center;
}

li:last-of-type {
    border-bottom: 5px solid #999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

li:hover {
    background-color: lightblue;
    cursor: pointer;
}

li > a {
    color: #333;
    text-transform: uppercase;
}

li > a,
li > a:focus,
li > a:active,
li > a:visited {
    text-decoration: none;
}
